button {
    background-color: #e75a7a; /* Color rosa inicial */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Relleno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cursor de puntero al pasar por encima */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Efecto suave */
}

button:hover {
    background-color: #fbbaa4; /* Color salmón al pasar el cursor */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    transition: background-color 0.5s ease;
}
#myText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}