button {
    background-color: #e75a7a; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover {
    background-color: #fbbaa4; /* Darker green on hover */
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#myText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}